/* history.scss */

$bg-color-1: #fff;
$bg-color-2: #EAEEF3;
$border-color: #C6C9CE;
$main-color-1: #53637D;


@import 'compass/reset';
@import 'compass/css3';
@import 'compass/typography';

$base-font-size: 11px;
$base-line-height: 18px;
@include establish-baseline();

header{
  width: 200px;
  height: 100%;
  position: fixed;
  border-right: 1px solid $border-color;
  @include background-image(linear-gradient(left,$bg-color-2 95%, darken($bg-color-2, 6%)));
  color: $main-color-1;
  padding: 1em;
  h1{
    @include adjust-font-size-to(24px);
  }
  h2{
    @include adjust-font-size-to(18px);
  }

}
.canvas-container{
  position: relative;
}
#query{ // the canvas
  border: 1px solid $border-color;
  background: url(../images/checkerboard.jpg);
  cursor: crosshair;
  border-radius: 3px;
  box-shadow: inset 0px 2px 4px rgba(#000, .5), 0 2px 1px rgba(#fff, .9);
}
#slice{ // transparent overlay
  border: 1px solid transparent; // align coordinate with query
  position: absolute;
  left: 0; top: 0;
}

#body{
  background: $bg-color-1;
  color: #000;
  padding: 1em;
  margin-left: 230px;

  h1{
    @include adjust-font-size-to(18px);
    color: $main-color-1;
  }
}
.recent-tab{
  display: none;
}
#hidden{
  overflow: hidden;
  height: 0;
}

#recent-target{
  text-align: center;
}

.tool{
  &.selected{
    text-decoration: none;
  }
  &.fill.selected ~ .color_picker{
    display: inline-block;
  }
}

.color_picker{ // javascript-generated div
  display: none;
}

// item style
.item{
  $item-width: 200px;

  display: inline-block;
  vertical-align: bottom;
  margin: 1em;
  .thumb{
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 2px;
  }
  &:hover .thumb{
    box-shadow: 0 2px 5px #aaa;
  }
  figcaption{
    color: $main-color-1;
    text-align: center;
    width: 100%;
    height: $base-line-height;
    @include ellipsis;
    img, a{
      vertical-align: middle;
    }
    img{
      margin-right: 0.2em;
    }
  }
  a{
    @include hover-link;
    @include link-colors($main-color-1, #000, #000, $main-color-1);
  }
  width: $item-width;
  &.large{
    width: 300px;
  }
  &.small{
    width: 150px;
    @include adjust-font-size-to(0.9 * $base-font-size);
  }
  &.tiny{
    width: 100px;
    @include adjust-font-size-to(0.6 * $base-font-size);
    @include adjust-leading-to(0.5);
    figcaption img{
      display: none;
    }
  }
}
